

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hed{
    width: 100%;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
.header1 h1{
  color:rgb(238, 181, 26);
  font-family: 'Satisfy', cursive;
  font-size:40px;
  padding: 10px;
}
header img{
    width:50px;
    align-items: center;
    
}

nav ul{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 10px 200px;
    list-style:none;
}

nav{
    border:2px dotted rgb(238, 181, 26);
    border-left:none;
    border-right:none;
    position: relative;
    padding: 12px 0;
    width: 100%;
    position: fixed;
    z-index:999;
    transition: .8s;

}

.stick{
    background-color:  rgba(255, 255, 0, 0.808);
    opacity: 0.1  1;
    transform:translateY(-125px);
}

nav .fa-bars{
   position: absolute;
    display: none;
    top: 4px;
    right: 65px;
}
ul a{
    text-decoration: none;
    color:#111;
}
ul li button{
    padding: 3px;
    border-radius: 50%;
    border:rgb(238, 181, 26) 1px solid;
    background-color: coral;
    align-items: center;
    color:rgb(238, 181, 26);
    margin-bottom: 10px;
}
main{
    width: 100%;
    margin: 25px 0;
    margin-top: 120px;
}
main img{
    width:50%;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);

}
main h1{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size:35px;
    color:rgb(238, 181, 26);
}
main p{
    text-align: center;
    margin-top: 20px;
    width:50%;
    margin:0 auto;
    color:#333;
}
main{
    border-bottom: 2px dotted rgb(238, 181, 26);
    padding-bottom: 30px;
}


.honey-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:95%;
  margin:0 auto;
}

.honey-it img{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
   width:100%;
   height:100%;

}
.honey-it img:hover{
    transform: scale(1);
}
.honey-it{
    text-align: center;
    margin: 30px 15px;

}
.honey-it h1{
    margin: 15px;
    font-family: 'Satisfy', cursive;
    letter-spacing: 1.6px;
    color: #111;
    font-size: 30px;
}
.honey-it p{
    color:#555;
    margin: 15px;
}
.honey-it a{
    color:rgb(238, 181, 26);
    text-decoration: none;
}

.honey2 h1{
    margin-top: 50px;
    font-family: 'Satisfy', cursive;
    margin-left: 20px;
    font-weight:800;
}

.honey-it2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hon2-it{
    display: flex;
    justify-content: space-between;
}
.honey-it2{
    display:flex;
}
.honey-about{
    display:flex;
    width:85%;
    
}
.honey-ab img{
    margin: 20px;
}
.honey-ab h4{
    margin: 30px 10px;
    line-height: 25px;
    font-size: 20px;
}
.honey-ab p{
    margin: 20px 10px; 
    color:#555;
}


.about-item{
    margin-top: 20px;
}
.about-item h2{
    font-family: 'Satisfy', cursive;
    margin-left: 50px;
}
.about-item img{
    width: 40px;
    margin-bottom: -33px;
}
.about-item{
    margin-bottom: 20px;
}
button{
   padding: 5px;
    background-color: rgba(255, 255, 0, 0.822);
    border-radius:10px;
    color:white;
    
    position: fixed;
    z-index:999;
    top: 150px;
    opacity: 0;
}
.scrolBtn{
    opacity: 1;
    z-index:999;
 
}
