@media (min-width:967px) and (max-width:1340px){
    main img{
        width:65%;
        margin:0 auto;
        margin-left: 20%;
    }
}

@media (min-width:768px) and (max-width:966.9px){
    nav ul{
        margin: 10px 60px;
    }
    main img{
        width:65%;
        margin:0 auto;
        margin-left: 15%;
    }
    .honey-item{
        flex-direction: column;
        width:65%;
        margin:0 auto;
      }
      .honey-it2{
        flex-direction: column;
    }
    .honey-about2{
        margin-top: 20px;
    }
    
}


@media (min-width:650px) and (max-width:767.9px){
    nav ul{
        margin: 10px 20px;
        flex-direction: column;
    }
    main img{
        width:700px;
        margin:0 auto;
    }
    main img{
        width:85%;
        margin:0 auto;
        margin-left: 10%;
    }
    .honey-item{
        flex-direction: column;
        width:65%;
        margin:0 auto;
      }
      .honey-item{
        flex-direction: column;
        width:65%;
        margin:0 auto;
      }
      .honey-it2{
        flex-direction: column;
    }
    .hon2-it{
        display: flex;
       flex-direction: column;
    }
    .honey-about2{
        margin-top: 10px;
        flex-direction: column;
        width: 100%;
    }
    .honey-ab img{
        display: none;
    }
    .honey-it2{
        flex-direction: column;
    }


    .honey-ab h4{
        margin: 30px 10px;
        line-height: 25px;
        font-size: 20px;
        margin-top: 50px;
    }
    .honey-about2{
        width:80%;
        margin: 0 auto;
    }
   
}


@media (min-width:0) and (max-width:649.9px){
    nav ul{
        margin: 10px 20px;
        flex-direction: column;
    }
    main img{
        width:85%;
        margin:0 auto;
        margin-left: 10%;
    }
    .honey-item{
        flex-direction: column;
        width:65%;
        margin:0 auto;
      }
      .honey-it2{
        flex-direction: column;
    }
      .honey-about2{
          width:80%;
          margin: 0 auto;
      }
      .honey-it2{
        flex-direction: column;
    }

    .honey-ab img{
        display: none;
    }

    .honey-ab h4{
        margin: 30px 10px;
        line-height: 25px;
        font-size: 20px;
        margin-top: 50px;
    }
    .honey-about2{
        width:80%;
        margin: 0 auto;
    }
}